@model List<JaguarWeb.Clients.AnalysisControlFlowModel>
@{
    ViewData["Title"] = $"{Model.FirstOrDefault().ProjectID}";
    ViewData["Breadcrumbs"] = new List<KeyValuePair<string, string>>(){
        new KeyValuePair<string, string>($"Home","Projects"),
        new KeyValuePair<string, string>($"Project/{Model.FirstOrDefault().ProjectID}",Model.FirstOrDefault().ProjectID)
        };
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Analyses Project: @Model.FirstOrDefault().ProjectID</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable" id="dataTable">
                        <thead>
                            <tr>
                                <th>Created Date</th>
                                <th>Failed Tests</th>
                                <th>Total Tests</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a href="~/Analyse/@item.Id">@item.CreatedDate.ToString("MM/dd/yyyy HH:mm") </a></td>
                                    <td><a href="~/Analyse/@item.Id">@item.FailedTests </a></td>
                                    <td><a href="~/Analyse/@item.Id">@item.TotalTests </a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>



@section scripts {
    <script src="~/js/demo/datatables-demo.js" asp-append-version="true"></script>
                    }